<% include partials/header %>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4"><i class="fas fa-search-plus"></i> AU sentimental analysis</h1>
      <p class="lead">In total, there are 3 scenarioes, two of them involves sentimental analysis.</p>
    </div>
  </div>

	<div class="container" style="padding-top: 20px;">
        <div class="row text-center" style="display:flex; flex-wrap:wrap;">
          
          <div class="col-12 col-md-4">
            <div class="card">
              <img class="card-img-top" src="https://images.unsplash.com/photo-1522202176988-66273c2fd55f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c0882af6fc30960d027b31250a10b75d&auto=format&fit=crop&w=1051&q=80" alt="Card image cap">
              <div class="card-body"><a href="/home/happy">
                <h5 class="card-title">Happinese rate in a day</h5>
                </a>
                <p class="card-text">The survey establishes whether people are happier in the morning or in the night time, besides if there are parts of their cities that are happier than others</p>
              </div>
            </div>
          </div>
          
          <div class="col-12 col-md-4">
            <div class="card">
              <img class="card-img-top" src="https://images.unsplash.com/photo-1486556813609-9a827fdc306f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=4ad91dc427618c05a8604f6166155af1&auto=format&fit=crop&w=1049&q=80" alt="Card image cap">
              <div class="card-body">
                <a href="/home/airline"><h5 class="card-title">The satisfication of airlines in AU</h5>
                </a>
                <p class="card-text">All famous international airlines have been surveyed to show the satisfication rate</p>
              </div>
            </div>
          </div>
          
          <div class="col-12 col-md-4">
            <div class="card">
              <img class="card-img-top" src="https://images.unsplash.com/photo-1518704558972-aed9f85b393a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=df4e412cdad304126d95889fe9a8d6ef&auto=format&fit=crop&w=1017&q=80" alt="Card image cap">
              <div class="card-body">
              <a href="/home/venues">
                <h5 class="card-title">Entertainment venues correlation analysis</h5>
               </a>
                <p class="card-text">The results show the relation between sentiment and the number of entertainments venues</p>
              </div>
            </div>
          </div>
        
        </div>
    </div>

<% include partials/footer %>