<!DOCTYPE>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- support phones and tablets -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      
      <title>Australian Social Media Analytics</title>
      <!-- modernizr -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
      <!-- font script -->
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.11/css/all.css" integrity="sha384-p2jx59pefphTFIpeqCcISO9MdVfIm4pNnsL08A6v5vaQc4owkQqxMV8kg4Yvhaw/" crossorigin="anonymous">
      <!-- d3 js script -->
      <script src="http://d3js.org/d3.v3.min.js"></script>
      <script src="/lib/d3.parcoords.js"></script>
      <link rel="stylesheet" type="text/css" href="/stylesheet/d3.parcoords.css">
      <!-- bootstrap css script -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
      <!-- self-defined css -->
      <link rel="stylesheet" type="text/css" href="/stylesheet/header.css">
  </head>
  <body>
        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="container-fluid">
            <a class="navbar-brand" href="/home"><h4>AU Social Media Analysis</h4></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link" href="/home/happy"><h5>Scenario 1</h5></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/home/airline"><h5>Scenario 2</h5></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/home/venues"><h5>Scenario 3</h5></a>
                </li>
              </ul>
            </div>
          </div>
        </nav>

        <div id="example" class="parcoords"></div>
        <div id="word"><h5>Entertainment venues and well-being rate correlation analysis</h5></div>

        <footer class="footer">
          <div class="container">
            <span class="text-muted">&copyMadeByGroup33; Yangyang Luo, Chenyang Wang, Chenyang Gao, Naijun Wang, Xiaoming Zhang 2018 | <a href="/">Home</a></span>
          </div>
        </footer>

    <!-- jQuery CDN -->
    <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
          crossorigin="anonymous"></script>
    <!-- self-defined css -->
    <link rel="stylesheet" type="text/css" href="/stylesheet/footer.css">
    <!-- create passing data for js -->
        <% var ejsData = []; %>
        <% data.forEach(function(suburb){ 
          if (suburb.value.amount > 10) {
              var object = {
              suburb:suburb.value.suburb, 
              pub:suburb.value.num,
              avg:suburb.value.avg,
              people:suburb.value.people
            }
            ejsData.push(object); 
          } 
         }) %>
    <!-- draw d3 chart -->
    <script type="text/javascript">
      var data = <%- JSON.stringify(ejsData) %>;

      var pc = d3.parcoords()("#example")
        .data(data)
        .render()
        .createAxes();    
    </script>
  </body>
</html>